<% model = Post %>
<div class="mb-8">
  <%= search_form_for @q, url: admin_posts_url, builder: SimpleForm::FormBuilder do |f| %>
    <div class="flex items-end gap-6">
      <div class="form-inputs !mb-0 gap-6 items-end !flex-row">
        <%= f.input :status_eq, collection: Post.statuses %>
        <%= f.input :title_cont, placeholder: "Search by term" %>
        <%= f.input :created_at_gteq, as: :datetime, html5: true %>
        <%= f.input :created_at_lteq, as: :datetime, html5: true %>
      </div>
      <%= f.submit "Search", class: "admin-button is-default" %>
    </div>
  <% end %>
</div>
