<% model = Post %>
<div class="mb-4">
  <%= search_form_for [:admin, @q] do |f| %>
    <div class="flex items-end gap-6">
      <div class="form-control">
        <%= f.label :title_cont, model.human_attribute_name(:title) %>
        <%= f.text_field :title_cont, class: "input input-bordered w-full rounded-md max-w-xs", placeholder: "Search by term" %>
      </div>
      <div class="form-control">
        <%= f.label :created_at_gteq, "Criado a partir" %>
        <%= f.date_field :created_at_gteq, class: "input input-bordered w-full rounded-md max-w-xs", placeholder: "Start" %>
      </div>
      <div class="form-control">
        <%= f.label :created_at_gteq, "Criado até" %>
        <%= f.date_field :created_at_lteq, class: "input input-bordered w-full rounded-md max-w-xs", placeholder: "End" %>
      </div>
      <%= f.submit "Search", class: "admin-button is-default" %>
    </div>
  <% end %>
</div>
