<% model = User %>
<div class="mb-8">
  <%= search_form_for @q, url: admin_users_url, builder: SimpleForm::FormBuilder do |f| %>
    <div class="flex items-end gap-6">
      <div class="form-inputs !mb-0 gap-6 items-end !flex-row">
        <%= f.input :first_name_or_last_name_cont, placeholder: "Search" %>
        <%= f.input :role_eq, collection: User.roles, class: "input input-bordered w-full rounded-md lg:max-w-xs", placeholder: "Search" %>
        <%= f.input :created_at_lteq, as: :datetime, html5: true %>
        <%= f.input :created_at_gteq, as: :datetime, html5: true %>
      </div>
      <%= f.submit "Search", class: "admin-button is-default" %>
    </div>
  <% end %>
</div>
