<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title>Gutten</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="admin-layout">
    <div class="flex h-screen overflow-hidden">
      <%= render "layouts/admin/aside" %>
      <div class="flex flex-col relative w-full overflow-y-auto overflow-x-hidden">
        <%= render "layouts/admin/header" %>
        <main class="container mx-auto my-8">
          <%= yield %>
        </main>
      </div>
    </body>
  </html>
