<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title>Gutten</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container mx-auto flex">
      <%= render(App::Navbar::NavbarComponent.new('Gutten')) do |c| %>
        <% c.with_items([
          { title: 'Item 1', to: nil, index: 0 },
          { title: 'Item 2', to: nil, index: 1 },
          { title: 'Item 3', to: nil, index: 2 }
        ]) %>
        <% c.with_navbar_end do %>
          <div class="flex gap-2">
            <div class="btn btn-ghost">
              <a>Login</a>
            </div>
            <div class="btn btn-ghost">
              <a>Create Account</a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <main class="container mx-auto my-8 px-5">
      <%= yield %>
    </main>
  </body>
</html>
